.homeSection {
    display: flex;
    width: 100%;
    flex: 1;
}

@media (max-width: 768px) {
    .homeSection {
    flex-direction: column;    
}
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px;
}

.title {
    font-size: 60px;
    margin: var(--padding-1x) 0;
}

.subtitle {
    font-size: 30px;
    /* color: var(--accent-color); */
    margin: var(--padding-1x) 0;
}

.blurb {
    margin: var(--padding-1x) 0;
}

.socialLinks {
    color: var(--accent-color);
    display: flex;
    width: 175px;
    justify-content: space-between;
    margin: var(--padding-1x) 0;
}

.socialLink {
    border: 2px solid var(--accent-color);
    font-size: 16px;
    display: flex;
    width: fit-content;
    padding: 8px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: box-shadow .25s, background-color .25s, color .25s;
}

.socialLink:hover {
    background-color: var(--accent-color);
    color: var(--black);
    box-shadow: 0px 0px 10px 1px var(--accent-color);
}

.socialLink:focus-visible {
    outline: none;
    box-shadow: 0px 0px 15px 2px var(--accent-color);
}

.downloadButton {
    margin: var(--padding-1x) 0;
    width: fit-content;
    background: var(--accent-color);
    color: black;
    /* background: none; */
    border: 1px solid var(--accent-color);
    padding: 0.5rem 0.75rem;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px var(--accent-color);
    font-size: 16px;
    transition: box-shadow .25s;
}

.downloadButton:hover {
    box-shadow: 0px 0px 0px 0px var(--accent-color);
}

.downloadButton:active {
    border-color: var(--black);
    box-shadow: 0px 0px 5px 0px inset var(--black);
}

.downloadButton:focus-visible {
    outline: none;
    box-shadow: 0px 0px 15px 2px var(--accent-color);
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clipPath {
    display: none;
    width: 350px;
}

.headshot {
    display: grid;
    animation: bounce 5s infinite;

}

.background, .foreground {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foreground img {
    z-index: 1;
    margin-bottom: -160px;
    animation: bounceMask 5s infinite;
    clip-path: url(#headshotMask);
    filter: drop-shadow(2px 4px 6px var(--black));
}

.headshot svg {
    width: 400px;
    height: 400px;
    display: block;
    fill: var(--accent-color);
    filter: drop-shadow(0px 10px 15px var(--accent-color));
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);

    }
}